<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<h1 class="ribbon">
   <strong class="ribbon-content">This is a program I made that shows Luke Hemming's most recent tweet. WOOOOOOO</strong>
</h1>
<div style="text-align:center;"><img src="http://onepopz.com/wp-content/uploads/2014/02/luke-hemmings-5-seconds-of-summer.jpg" height=25 width=20></div>
<p>Luke's most recent tweet:</p>
<p><%= @tweet.tweet%>
<%= @tweet.time%></p>

<div id="slider"></div>

<div id="face">
  <div id="mouth-box">
    <div id="mouth" class="straight"></div>
  </div>
</div>



