<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<h1 class="ribbon">
   <strong class="ribbon-content">Luke Hemmings' Tweet Updater WOOOOOOOOO</strong>
</h1>
<div style="text-align:center;"><img src="http://onepopz.com/wp-content/uploads/2014/02/luke-hemmings-5-seconds-of-summer.jpg" height=305 width=295></div>
<p1>Luke's most recent tweet:</p1>
<br>
<br>
<p><%= @tweet.tweet%></p>
<br>
<br>
<p1>Time of tweet:</p1>
<br>
<br>
<p><%= @tweet.time%></p>

<a id="center-link"href="https://twitter.com/Luke5SOS">Luke's Twitter</a>

<div id="slider"></div>
<div id="face">
  <div id="mouth-box">
    <div id="mouth" class="straight"></div>
  </div>
</div>




